<div class="blog-sidebar">
  <!--Featured Posts Section-->
  <div class="blog-sidebar__section">
    <h2 class="blog-sidebar__title">Featured Posts</h2>
    <ul class="blog-sidebar__featured-list">
      {%- for post in collections.featured | reverse -%}
      <li>
        <a class="blog-sidebar__featured-item" href="{{ post.url }}">
          <img
            class="blog-sidebar__featured-image"
            src="{{ post.data.image }}"
            alt="{{ post.data.imageAlt }}"
            width="60"
            height="60"
            decoding="async"
          />
          <div class="blog-sidebar__featured-content">
            <h3 class="blog-sidebar__featured-title">{{ post.data.blogTitle }}</h3>
            <span class="blog-sidebar__featured-date">{{ post.date | postDate }}</span>
          </div>
        </a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  <!--Add anything else in the sidebar below-->
</div>
