<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->
{% set navPages = collections.all | eleventyNavigation %}

<header class="navigation">
    <div class="navigation__background"></div>
    <div class="navigation__container">
        <!--Logo - Get SVGs if you can.  I use fiverr to get png's turned into SVGs. Highly recommend it, worth the $20 - get a light and dark version-->
        <a class="navigation__logo" aria-label="click to go to home page" href="/">
            <!--Light Colored Logo, remove .dark image tag and the .light class if you don't have a dark and light version -->
            <img class="logo--light" aria-hidden="true" src="/assets/images/logo-light.png" decoding="async" alt="logo" width="221" height="66">

            <!--Dark Colored Logo-->
            <img class="logo--dark" aria-hidden="true" src="/assets/images/logo-blue.png" decoding="async" loading="lazy" alt="logo" width="221" height="66">
        </a>

        <!--Mobile Nav toggle-->
        <button class="navigation__hamburger" aria-expanded="false" aria-controls="navigation-menu">
            <span class="visually-hidden">Menu</span>
            <span aria-hidden="true"></span>
        </button>

        <!--Main Nav-->
        <nav class="navigation__menu" id="navigation-menu" aria-label="main navigation">
            <ul class="navigation__list">
                {%- for entry in navPages %}
                    <li class="navigation__item">
                        <a class="navigation__link{% if entry.url == page.url %} navigation__link--active{% endif %}" href="{{ entry.url }}">
                            {{ entry.title }}
                        </a>
                    </li>
                {%- endfor %}
            </ul>
        </nav>
    </div>
</header>