// Mixins

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive-font-size($min-size, $max-size) {
  font-size: clamp($min-size, 1.6vw, $max-size);
}

@mixin box-shadow($color, $x: 0, $y: 0, $blur: 40px) {
  box-shadow: rgba($color, 0.1) $x $y $blur;
} 