// Global Variables

// Colors
$primary-color: var(--primary);
$header-color: var(--headerColor);
$body-text-color: var(--bodyTextColor);
$body-text-color-white: var(--bodyTextColorWhite);
$accent-color: var(--accent);
$dark-color: var(--dark);
$primary-light-color: var(--primaryLight);

// Font Sizes
$topper-font-size: var(--topperFontSize);
$header-font-size: var(--headerFontSize);
$body-font-size: var(--bodyFontSize);

// Spacing
$section-padding: var(--sectionPadding); 