---
layout: 'base.html'
description: 'Meta description for the page'
metaTitle: 'Title that shows up on google searches'
tagTitle: 'Blog'
preloadImg: '/images/cabinets2-1920w.webp'
permalink: 'blog/'
eleventyNavigation:
    key: Blog
    order: 500
---

<!-- Enter html code below -->
<!-- ============================================ -->
<!--                 Page Banner                  -->
<!-- ============================================ -->

<section class="page-banner">
  <div class="page-banner__container">
    <h1 class="page-banner__title">Blog</h1>
  </div>
  <div class="page-banner__background">
    {% image './src/assets/images/cabinets2.jpg', 'cabinets', '', 'lazy', '(max-width: 850px) 850px, 1920px'%}
  </div>
</section>

<!-- ============================================ -->
<!--                Blog Layout                   -->
<!-- ============================================ -->

<section class="blog-layout">
  <div class="blog-layout__container" data-animate-group>
    <!--Main content -->
    <main class="blog-layout__main">
      {% if collections.post | length == 0 %}
        <div class="blog-layout__no-posts">
          <h1>No Recent Posts</h1>
        </div>
      {% endif %}
      {%- for post in collections.post | reverse -%}
        <article class="article-card">
          <!--Main Article Image-->
          <div class="article-card__image-wrapper">
            <img
              class="article-card__image"
              src="{{ post.data.image }}"
              alt="{{ post.data.imageAlt }}"
              width="795"
              height="400"
              decoding="async"
            />
          </div>
          <!--Article Info-->
          <div class="article-card__content">
            <div class="article-card__meta">
              <!--Author Image-->
              <img
                class="article-card__author-image"
                src="/assets/svgs/profile.svg"
                alt="author"
                width="32"
                height="32"
                decoding="async"
              />
              <span class="article-card__author">{{ post.data.author }}</span>
              <span aria-hidden="true" class="article-card__dot"></span>
              <!--Blog Date-->
              <span class="article-card__date">{{ post.date | postDate }}</span>
            </div>
            <h2 class="article-card__title">
              {{ post.data.blogTitle }}
            </h2>
            <p class="article-card__excerpt">
              {{ post.data.blogDescription }}
            </p>
            <a href="{{ post.url }}" class="article-card__link">Continue Reading</a>
          </div>
        </article>
      {%- endfor -%}
    </main>

    <!-- ============================================ -->
    <!--                Blog Sidebar                  -->
    <!-- ============================================ -->

    <aside class="blog-layout__sidebar">
      {% include 'featured-post.html' %}
    </aside>
  </div>
</section>