<!-- Content wrapped in Barba container -->
{% if page.url != '/admin/' %}
<div data-barba="container" data-barba-namespace="{{ page.fileSlug }}">
{% endif %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">Welcome to Our Site</h1>
  {% image './src/images/landing.jpg', 'Landing Image', '', 'lazy', '(max-width: 850px) 850px, 1920px'%}
</section>

<!-- ============================================ -->
<!--                 Gallery Preview              -->
<!-- ============================================ -->

<section id="sbs">
  <div class="cs-container">
    <span class="cs-topper">Featured Images</span>
    <h2 class="cs-title">Explore Our Gallery</h2>
    <p class="cs-text">Browse through some of our featured images showcased in a responsive masonry grid with full-screen slideshow capability.</p>
    <div class="pswp-gallery pswp-docs__home-gallery">
      <figure class="pswp-docs__home-gallery-item">
        <a href="/images/port1-1200w.avif" 
           data-pswp-width="1200" 
           data-pswp-height="900" 
           target="_blank" class="pswp-trigger">
            {% image './src/images/portfolio/port1.jpg', 'Portfolio 1', 'pswp-trigger', 'lazy', '(max-width: 600px) 300px, (max-width: 840px) 600px, 1200px' %}
        </a>
      </figure>
      <figure class="pswp-docs__home-gallery-item">
        <a href="/images/port2-1200w.avif" 
           data-pswp-width="1200" 
           data-pswp-height="900" 
           target="_blank" class="pswp-trigger">
            {% image './src/images/portfolio/port2.jpg', 'Portfolio 2', 'pswp-trigger', 'lazy', '(max-width: 600px) 300px, (max-width: 840px) 600px, 1200px' %}
        </a>
      </figure>
      <figure class="pswp-docs__home-gallery-item">
        <a href="/images/port3-1200w.avif" 
           data-pswp-width="1200" 
           data-pswp-height="900" 
           target="_blank" class="pswp-trigger">
            {% image './src/images/portfolio/port3.jpg', 'Portfolio 3', 'pswp-trigger', 'lazy', '(max-width: 600px) 300px, (max-width: 840px) 600px, 1200px' %}
        </a>
      </figure>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
  <div class="container">
    <h2 class="title">Like What You See?<br>Contact Us Today</h2>
    <p>Say something catchy, informative, and encouraging to click the button to go to the contact page.</p>
    <a href="/contact.html" class="button-solid">Get in Touch</a>
  </div>
  {% image './src/images/portfolio/port2.jpg', 'Additional Gallery Image', '', 'lazy', '(max-width: 400px) 400px, (max-width: 850px) 850px, 1920'%}
</section>

{% if page.url != '/admin/' %}
</div>
{% endif %} 